@model IEnumerable<Donation>

@{
    ViewData["Title"] = "DonationRecord";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-area="" asp-controller="Admin" asp-action="AdminDonationRecord" asp-route-orderBy="default">Donation ID</a>
            </th>
            <th>
                <a asp-area="" asp-controller="Admin" asp-action="AdminDonationRecord" asp-route-orderBy="amount">Donation Amount</a>
            </th>
            <th>
                <a asp-area="" asp-controller="Admin" asp-action="AdminDonationRecord" asp-route-orderBy="donor">Donor</a>
            </th>
            <th colspan="2">
                <a asp-area="" asp-controller="Admin" asp-action="AdminDonationRecord" asp-route-orderBy="date">Donation Date</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Donation donation in Model)
        {
        <tr>
            <td>@donation.DonationId</td>
            <td>@donation.DonationAmount</td>
            @if (donation.Donor == null)
            {
                <td>Anonymous</td>
            }
            else
            {
                <td>@donation.Donor.Id</td>
            }
            <td>@donation.DonationDate</td>
            <td>
                <a asp-action="AdminDonationDelete" asp-route-id="@donation.DonationId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>